.la1{
	background-color: yellow;
	padding-top: 0px;
    padding-bottom: 30px;
}
.es1{
	background-color: #F10B7D;
	padding-top: 0px;
    padding-bottom: 30px;
    border-color: black;
}
.trans1{
	background-color: yellow;
	padding-top: 0px;
    padding-bottom: 30px;
}
.la2{
	background-color: yellow;
	padding-top: 9px;
	padding-left: 8px;
    padding-bottom: 30px;
    display: block;
    margin: 10px;
    width: 190px;

}
.es2{
	background-color: #F10B7D;
	padding-top: 9px;
	padding-left: 8px;
    padding-bottom: 30px;
    display: block;
    margin: 10px;
    width: 190px;
}
.trans2{
	background-color: yellow;
	padding-top: 9px;
	padding-left: 8px;
    padding-bottom: 30px;
    display: block;
    margin: 10px;
    width: 190px;
}
.la3{
	background-color: yellow;
	display: inline-block;
	padding: 8px 7px 5px 7px;
}
.es3{
	background-color: #F10B7D;
	padding: 8px 7px 5px 7px;
    border-color: black;
    display: inline-block;
}
.trans3{
	background-color: yellow;
	padding: 8px 7px 5px 7px;
    display: inline-block;
}
.la4{
	background-color: yellow;
	width: 150px;
    height: 45px;
    padding-top: 4px;
    padding-right: 13px;
    padding-left: 4px;
    display: inline-block;
}
.es4{
	background-color: #F10B7D;
	width: 150px;
	height: 45px;
	padding-top: 4px;
    padding-right: 13px;
    padding-left: 4px;
    border-color: black;
    display: inline-block;
}
.trans4{
	background-color: yellow;
	width: 150px;
    height: 45px;
    padding-top: 4px;
    padding-right: 13px;
    padding-left: 4px;
    display: inline-block;
}
.all{
	margin:0;
}
.tres-cajas{
	
    width: 387px;
    height: 132px;
    padding: 20px;
    display: block;
    margin: 10px 0 20px 10px;
}
.tres-cajas .primera{
	width: 60px; 
    height: 60px;
    padding:30px; 
    border: 3px solid #555;
    display: inline-block;
    background-color: green;
}
.tres-cajas .segunda{
	width: 60px; 
    height: 60px;
    padding:30px; 
    border: 3px solid #555;
    display: inline-block;
    background-color: green;
}
.tres-cajas .tercera{
	width: 60px; 
    height: 60px;
    padding:30px; 
    border: 3px solid #555;
    display: inline-block;
    background-color: green;
}
.dos-cajas{
	display: block;
	width: 380px;
	height: 120px;
	padding-left: 10px;
	margin: 10px 0 20px 0;
}
.cuarta{
	padding:30px;
	width: 60px;
	height: 60px;
	border: 3px solid #555;
	display: inline-block;
	background-color: green;
}
.quinta{
	padding: 30px;
    width: 60px;
    height: 24px;
    padding-top: 66px;
    border: 3px solid #555;
    display: inline-block;
    background-color: green;
}
.sexta{
	padding: 30px;
    width: 60px;
    height: 24px;
    padding-top: 66px;
    border: 3px solid #555;
    display: block;
    background-color: green;
}