.la1{
	background-color: yellow;
	padding-top: 0px;
    padding-bottom: 30px;
}
.es1{
	background-color: #F10B7D;
	padding-top: 0px;
    padding-bottom: 30px;
}
.trans1{
	background-color: yellow;
	padding-top: 0px;
    padding-bottom: 30px;
}